@page "/PageScrollbar"

<h3 style="color:darkred">This is blazor Scrollbar prototype</h3>

<br />

<h4>You can click on red buttons, drag thumb or scroll inside scrollbar</h4>


@*<button class="btn btn-primary" style="margin:5px" onclick="@Cmd1">cmd</button>


    <button class="btn btn-primary" style="margin:5px" onclick="@Cmd2">cmd</button>*@

<table style="margin-left:100px; margin-top:50px">
    <tr>
        <td valign="bottom" style="margin:30px">
            <h5>@P2</h5>

            <CompBlazorScrollbar @ref="CompBlazorScrollbar2" bsbSettings="bsbSettings2" ReactOnParentRefresh="@FirtsLoad"></CompBlazorScrollbar>
        </td>
        <td valign="top" style="margin:30px">
            <h5>@P1</h5>

            <CompBlazorScrollbar @ref="CompBlazorScrollbar1" bsbSettings="bsbSettings1" ReactOnParentRefresh="@FirtsLoad"></CompBlazorScrollbar>
        </td>

    </tr>
</table>






