@page "/pageclockcanvas"


<style>
    .flex-container {
        display: flex;
        background-color: lightblue;
        margin: 10px;
        padding: 20px;
    }

        .flex-container > div {
            background-color: #f1f1f1;
            margin: 10px;
            padding: 20px;
            font-size: 12px;
        }
</style>


<h3 style="color:darkred">This is <b>Canvas</b> based Clock</h3>
<br>


@*<div class="flex-container">*@

    @foreach (var city in Cities_List)
    {
        @*<button type="button" class="close" aria-label="Close" onclick=@(() => RemoveCity(city))>
                <span aria-hidden="true">&times;</span>
            </button>*@
            <CompClockCanvas city="@city" @ref="@city.CompClockCanvas_related" />
    }



@*</div>*@



@*<div class="flex-container">


        <div>
            CityName
            <input bind="@Curr_City.Name" type="text" placeholder="enter city name" />
        </div>
        <div>
            time diff
            <input bind="@Curr_City.TimeDiff" type="number" min="-12" max="14" />
        </div>
        <div>
            width/height
            <input bind="@Curr_City.WidthAndHeight" type="number" min="100" max="500" />
        </div>
        <div>
            Timer Interval
            <input bind="@Curr_City.TimerInterval" type="number" min="1" max="1000" />
        </div>
        <div>
            Fast Mode
            <input bind="@Curr_City.FastMode" type="checkbox" />
        </div>

        <div>
            Fast mode add secconds count
            <input bind="@Curr_City.FastMode_Increment" type="number" min="1" max="1000" />
        </div>
        <div>
            <button class="btn btn-primary" onclick="@Add_Clock">Add Clock</button>
        </div>

    </div>*@


