@page "/counter"




<h2>Closed todos</h2>

<br/>
<br />
<table class="table">
    <thead>
        <tr>
            <th>N</th>
            <th>OpenDate</th>
            <th>CloseDate</th>
            <th>Name</th>
            <th>Comment</th>
            <th>TimeSpent</th>
            <th>Importancy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ProjectUpdate in LocalData.ProjectUpdates_List.Where(x=>x.Done).OrderByDescending(x=>x.CloseDate))
        {
        <tr>
            <td>@ProjectUpdate.N</td>
            <td>@ProjectUpdate.OpenDate.ToString("MM/dd/yyyy hh:mm:ss")</td>
            <td>@ProjectUpdate.CloseDate.ToString("MM/dd/yyyy hh:mm:ss")</td>
            <td>@ProjectUpdate.Name</td>
            <td>@ProjectUpdate.Comment</td>
            <td>@ProjectUpdate.TimeSpent</td>
            <td>@ProjectUpdate.Importancy</td>
        </tr>
        }
    </tbody>
</table>



@functions {
  
    
}







