@page "/SwwWsPage2"


@inherits SwwWsPage2_Logic



@addTagHelper *, BlazorSharedWebWorkerWebSocketHelper
@using BlazorSharedWebWorkerWebSocketHelper;




<h3 style="color:darkred">This is Shared Web Worker sample 2 with Web Socket inside</h3>
<br />


<div style="margin:5px">

    <button class="btn btn-primary" style="width:120px;margin:5px" onclick="@SwwCreate">@Sww_Button</button>
    <span style="margin:5px">Shared web worker</span>
    <span style="margin:5px">URL</span>
    <input bind="@Sww_URL" style="margin:5px;width:250px" disabled="@(!IsDisabled)" />
    <span style="width:120px;margin:5px">status:@Sww_Status</span>
</div>

<div style="margin:5px; margin-left:140px">
    <span style="margin:5px">Nested web socket</span>
    <span style="margin:5px">URL</span>
    <input bind="@Ws_URL" style="margin:5px;width:250px" disabled="disabled" />
</div>

<br />

<p style="margin:5px">You can duplicate this tab and see <b>how two or more tabs can consume same data from one shared worker</b>.</p>

<br />
<p style="margin:5px">Please use <b>chrome</b> for expected behavior.</p>



<br />

<div style="margin:5px">
    <input style="margin:5px;width:500px" bind="@Sww_Message" disabled="@IsDisabled" />
    <button class="btn btn-primary" style="margin:5px" onclick="@SwwSendMessage" disabled="@IsDisabled">Send</button>

</div>


<br />




<KendoGrid Data=@log_list Pageable=true PageSize=10 Sortable=true>
    <KendoGridColumn Field=@nameof(SwwWs2_Item.Date)>
        <Template>
            @($"{(context as SwwWs2_Item).Date:HH:mm:ss.fff}")
        </Template>
    </KendoGridColumn>
    <KendoGridColumn Field=@nameof(SwwWs2_Item.GUID) />
    <KendoGridColumn Field=@nameof(SwwWs2_Item.Caption) />

</KendoGrid>


