@page "/SwwWsPage"


@inherits SwwWsPage_Logic



@addTagHelper *, BlazorWebWorkerHelper
@using BlazorWebWorkerHelper;
@using BlazorWebWorkerHelper.classes;


<h3 style="color:darkred">This is Shared Web Worker sample with Web Socket inside</h3>
<br />

<h4>Web Worker helper library for blazor is available on <a href="https://www.nuget.org/packages/BlazorWebWorkerHelper/" target="_blank" class="ml-md-auto">nuget</a></h4>
<br />


<div style="margin:5px">

    <button class="btn btn-primary" style="width:120px;margin:5px" onclick="@WwCreate">@Ww_Button</button>
    <span style="margin:5px">Shared web worker</span>
    <span style="margin:5px">URL</span>
    <input bind="@Ww_URL" style="margin:5px;width:250px" disabled="@(!IsDisabled)" />
    <span style="width:120px;margin:5px">status:@Ww_Status</span>
</div>

<div style="margin:5px; margin-left:140px">
    <span style="margin:5px">Nested web socket</span>
    @*<button class="btn btn-primary" style="width:120px;margin:5px" disabled="@IsDisabled" onclick="@WsCreate">@Ws_Button</button>*@
    <span style="margin:5px">URL</span>
    <input bind="@Ws_URL" style="margin:5px;width:250px" disabled="@(!WsIsDisabled)" />
    <span style="width:120px;margin:5px">status:@Ws_Status</span>
</div>

<br />

<p style="margin:5px">You can duplicate this tab and see <b>how two or more tabs can consume same data from one shared worker</b>.</p>

<br />
<p style="margin:5px">Please use <b>chrome</b> for expected behavior.</p>



<br />
<div style="vertical-align:middle;margin:5px">
    <input type="radio" name="mode" value="1" style="margin:5px" disabled="@WsIsDisabled" checked="@(TransportCode == 0)" onchange="@(() => cmd_SetTransport(0))" /> Text
    <input type="radio" name="mode" value="2" style="margin:5px" disabled="@WsIsDisabled" checked="@(TransportCode == 1)" onchange="@(() => cmd_SetTransport(1))" /> Binary

</div>
<div style="margin:5px">
    <input style="margin:5px;width:500px" bind="@Ww_Message" disabled="@WsIsDisabled" />
    <button class="btn btn-primary" style="margin:5px" onclick="@WwSendMessage" disabled="@WsIsDisabled">Send</button>

</div>


<br />


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>GUID</th>
            <th>ClientID</th>
            <th>Caption</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in log_list)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.GUID</td>
                <td>@item.ClientID</td>
                <td>@item.Caption</td>
            </tr>
        }
    </tbody>
</table>



@*<KendoGrid Data=@log_list Pageable=true PageSize=10 Sortable=true>
    <KendoGridColumn Field=@nameof(SwwWs_Item.Date)>
        <Template>
            @($"{(Context as SwwWs_Item).Date:HH:mm:ss.fff}")
        </Template>
    </KendoGridColumn>
    <KendoGridColumn Field=@nameof(SwwWs_Item.GUID) />
    <KendoGridColumn Field=@nameof(SwwWs_Item.ClientID) />
    <KendoGridColumn Field=@nameof(SwwWs_Item.Caption) />

</KendoGrid>*@


