@page "/DedicatedWebWorkerPage"

<h3 style="color:darkred">This is Dedicated Web Worker sample</h3>
<br />


<h4>Web Worker helper library for blazor is available on <a href="https://www.nuget.org/packages/BlazorWebWorkerHelper/" target="_blank" class="ml-md-auto">nuget</a></h4>
<br />


<div style="margin:5px">


    <button class="btn btn-primary" style="width:120px;margin:5px" @onclick="@WwCreate">@Ww_Button</button>

    <span style="margin:5px">URL</span>
    <input @bind="@Ww_URL" style="margin:5px;width:250px" disabled="@(!IsDisabled)" />


    <span style="width:120px;margin:5px">status:@Ww_Status</span>


</div>


<br />

<p style="margin:5px">We can calculate <b>fibonacci numbers</b> direct or using web worker.</p>

<p style="margin:5px">Web worker is not bloking UI and brings result when calculation is done, without web worker UI gets froozen while calculating.</p>

<p style="margin:5px">Difference can noticed best for parameters <b>between 40-45</b> depending on your device performace. Greater value can take long time to calculate</p>

<br />

<div style="vertical-align:middle;margin:5px">
    <input type="radio" name="mode" value="1" style="margin:5px" disabled="@IsDisabled" checked="@(TransportCode == 0)" @onchange="@(() => Cmd_SetTransport(0))" /> Text
    <input type="radio" name="mode" value="2" style="margin:5px" disabled="@IsDisabled" checked="@(TransportCode == 1)" @onchange="@(() => Cmd_SetTransport(1))" /> Binary

</div>
<div style="margin:5px">
    <input style="margin:5px;width:250px" @bind="@Ww_Message" />



    <button class="btn btn-primary" style="margin:5px" @onclick="@WwSendMessage" disabled="@IsDisabled">Send to worker</button>
    <button class="btn btn-primary" style="margin:5px" @onclick="@WwCalculateJS">Calculate direct</button>
</div>


<br />


<span style="font-size:16px;margin:5px"><b>Log:</b></span>
<br />

@foreach (var item in WebWorkerHelper1.Log.OrderByDescending(x=>x.ID))
{
    <br />
    <CompWwMessage bWwMessage="@item" parent="@this" />
    <br />

}

