@page "/WebSocketPage"

<h3 style="color:darkred">This is Websocket sample</h3>
<br />


<h4>WebSocket helper library for blazor is available on <a href="https://www.nuget.org/packages/BlazorWebSocketHelper/" target="_blank" class="ml-md-auto">nuget</a></h4>
<br />


<div style="margin:5px">
   
    <button class="btn btn-primary" style="width:120px;margin:5px" @onclick="@WsConnect">@Ws_Button</button>
    <span style="margin:5px">URL</span>
    <input bind="@Ws_URL" style="margin:5px;width:250px" disabled="@(!IsDisabled)" />
    <span style="width:120px;margin:5px">status:@Ws_Status</span>
</div>


<br />
<div style="vertical-align:middle;margin:5px">
    <input type="radio" name="mode" value="1" style="margin:5px" disabled="@IsDisabled" checked="@(TransportCode == 0)" @onchange="@(() => Cmd_SetTransport(0))" /> Text
    <input type="radio" name="mode" value="2" style="margin:5px" disabled="@IsDisabled" checked="@(TransportCode == 1)" @onchange="@(() => Cmd_SetTransport(1))" /> Array Buffer

</div>
<div style="margin:5px">
    <input style="margin:5px;width:250px" bind="@Ws_Message" disabled="@IsDisabled" />
    <button class="btn btn-primary" style="margin:5px" @onclick="@WsSendMessage" disabled="@IsDisabled">Send</button>
    <button class="btn btn-primary" style="margin:5px" @onclick="@ClearLog">Clear log</button>


</div>


<br />


<span style="margin:5px">Log:</span>
<br />


@if (log.Count % 2 == 0)
{
    @foreach (var item in log.OrderByDescending(x => x.ID))
    {
        <br />
        <CompMessage bwsMessage="@item" parent="@this" />
        <br />

    }
}


