
@*<div id="MainDiv" class="ex1" style="width:610px;margin:5px" onscroll="@OnScroll">*@
<svg width="@ChartSettings.ExtendedWidth" height="@ChartSettings.InitialHeight" xmlns="http://www.w3.org/2000/svg">


    <CompRect @ref="@CompRect1" parent="@this"></CompRect>
    <CompPolygone @ref="@CompPolygone1" parent="@this"></CompPolygone>
    <CompStack @ref="@CompStack1" parent="@this"></CompStack>
    <CompLines @ref="@CompLines1" parent="@this"></CompLines>
    <CompPoints @ref="@CompPoints1" parent="@this"></CompPoints>

    <CompBorder @ref="@CompBorder1" parent="@this"></CompBorder>


</svg>
@*</div>*@




